@import "./common/style";
@import "./common/reset";
@import "./common/variable";
@import "./common/header-footer";
@import "./common/global";
@import "./common/tip";
@import "./common/sliderbar";

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 14px/1.5 arial, tahoma, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    color: #333;
    background-color: #f2f2f2;
}

i {
    font-style: normal;
}

a {
    color: #8a8a8a;

    &:hover {
        text-decoration: none;
    }
}

/*-------------------------css start---------------------------*/

.layout {
    margin-top: 115px;
    margin-bottom: 40px;
}
.container {
    width: 1300px;
    margin: 0 auto;
}

/*下拉框*/

.form-select {
    position: relative;

    input.form-control {
        position: relative;
        width: 100%;
        padding-right: 25px;
        z-index: 2;
        background-color: transparent;
        cursor: pointer;
    }

    .form-mask {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0);
        z-index: 1;
    }

    .form-drop {
        display: none;
        margin-top: 1px;

        ul.form-radio {
            position: absolute;
            width: 100%;
            padding: 10px 10px 0px 10px;
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 1px 3px #ddd;
            z-index: 2;

            li {
                line-height: 1;
                padding-bottom: 10px;
                cursor: pointer;
            }
        }

        ul.form-checkbox {
            padding-bottom: 10px;

            li {
                display: inline-block;
                margin-right: 5px;
                margin-bottom: 5px;
                padding: 5px 10px;
                border-radius: 12px;
                font-size: 14px;
                background-color: #e2e2e2;
                cursor: pointer;
                user-select: none;
            }

            li.form-checkbox-active {
                background-color: #0099e5;
                color: #fff;
            }
        }
    }

    .form-checkbox-content {
        position: absolute;
        top: 5px;
        left: 6px;
        right: 25px;
        z-index: 2;
        background: #fff;

        .form-label {
            position: relative;
            display: inline-block;
            line-height: 1;
            margin-right: 8px;
            padding: 5px 10px;
            border-radius: 3px;
            font-size: 14px;
            background-color: #e2e2e2;
            cursor: pointer;

            .form-label-remove {
                position: absolute;
                right: -7px;
                top: -7px;
                width: 14px;
                height: 14px;
                line-height: 14px;
                text-align: center;
                border-radius: 50%;
                font-size: 18px;
                background-color: #aaa;
                color: #fff;
            }
        }
    }


    .arrow-down {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        border-top: 5px solid #5f5f5f;
    }
}

/*分享*/

.share-default {
    width: 121px;
    height: 30px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    background: #fff;
    cursor: pointer;
    z-index: 2;

    .weibo:hover {
        background-position: -34px 4px;
    }

    .qzone:hover {
        background-position: -34px -36px;
    }

    .weixin:hover {
        background-position: -34px -276px;
    }

    .share-btn:hover {
        background-color: #F5F5F5;
    }

    .share-btn {
        float: left;
        height: 28px;
        width: 30px;
        background: url('#{$imgpath}/share-icon.svg') 6px 4px no-repeat;
        position: relative;
        margin: 0;
        padding: 0;
    }

    .qzone {
        background-position: 6px -36px;
    }

    .weixin {
        background-position: 6px -276px;
    }

    .share-more {
        float: right;
        position: relative;
        width: 19px;
        height: 30px;

        &:hover {
            .share-menu {
                display: block;
            }
        }

        i {
            position: absolute;
            height: 6px;
            width: 10px;
            left: 3px;
            top: 9px;
            background: url("#{$imgpath}/sprite.png") no-repeat 0 -177px;
        }
    }

    .share-menu {
        display: none;
        position: absolute;
        left: -102px;
        top: 30px;
        width: 121px;
        box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        background: #fff;
        overflow: hidden;
        z-index: 9999;

        ul {
            li {
                float: left;
                width: 100%;

                &:last-child {
                    a {
                        &:hover {
                            border-bottom: none;
                        }
                    }
                }
            }
        }

        a {
            float: left !important;
            width: 100%;
            height: 35px !important;
            line-height: 35px !important;
            padding-left: 40px !important;
            position: relative;
            background-image: none !important;
            margin: 0 !important;
            text-decoration: none;
            color: #666;
            transition: all .2s;

            &:hover {
                color: #0078d7;
            }

            i {
                position: absolute;
                left: 11px;
                top: 10px;
                width: 18px;
                height: 18px;
                background: url('#{$imgpath}/share-icon.svg') 0 -80px no-repeat;
            }
        }

        a.qq i {
            background-position: 0 -160px;
            top: 9px;
        }

        a.douban i {
            background-position: 0 -200px;
            top: 9px;
        }

        a.renren i {
            background-position: 0 -240px;
        }

        a.tqq:hover i {
            background-position: -40px -80px;
        }

        a.qq:hover i {
            background-position: -40px -160px;
        }

        a.douban:hover i {
            background-position: -40px -200px;
        }

        a.renren:hover i {
            background-position: -40px -240px;
        }
    }
}

.cursor {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    cursor: url(#{$imgpath}/icons/zoom-in.cur),
    auto;
}

.btn-yellow{
    @include btn($background-color:#ffe300, $border:1px solid transparent, $color:#333);

    &:hover {
        background-color: darken(#ffe300, 2%);
        border-color: darken(#ffe300, 2%);
    }
}
.layout {
    margin-top: 100px;
    .container {
        display: flex;
        padding-top: 20px;
        background-color: #faf7e0;
    }
}
.main-l {
    width: 230px;
    padding: 20px 10px 20px 20px;
    

    a {
        display: block;
    }

    .main-l-ico {
        float: right;
        font-size: 16px;
    }

    .main-l-txt {
        color: #333;
    }

    .main-l-tp, .main-l-mm, .main-l-bt {
        padding: 7px 0;
        border-bottom: 1px solid $base-color;
    }

    .main-l-bt {
        border-bottom: none;
    }

    .main-l-row {
        padding: 7px 32px;

        &:hover {
            .main-l-txt {
                color: $color;
            }
        }
    }
}
.main-c{
    flex: 1;
}
.main-r {
    width: 300px;
    min-height: 200px;
    margin-left: 10px;

    .user-card {
        margin-bottom: 10px;
        background-color: #fff;

        .user-card-tp {
            position: relative;
            height: 110px;
            background-color: #e2bde8;

            .user-card-head {
                position: absolute;
                width: 90px;
                height: 90px;
                left: 0px;
                right: 0px;
                bottom: -20px;
                margin: 0 auto;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid #ddd;

                img {
                    display: block;
                    width: 100%;
                    min-height: 100%;
                }
            }
        }

        .user-card-intro {
            padding: 34px 0 20px;

            .user-card-name {
                line-height: 1;
                margin-bottom: 20px;
                text-align: center;
                font-size: 18px;
            }

            .user-card-occupation {
                line-height: 1;
                margin-bottom: 25px;
                padding: 0 30px;
                color: #788cff;
            }

            .user-card-statistics {
                display: flex;

                .user-card-statistics-dl {
                    flex: 1;
                    border-right: 1px solid #ddd;
                    text-align: center;

                    &:last-child {
                        border-right: none;
                    }

                    .user-card-statistics-dt {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .user-card-statistics-dd {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .hot-topic {
        margin-bottom: 10px;
        background-color: #fff;

        .hot-topic-head {
            display: flex;
            height: 58px;
            padding: 0 20px;
            align-items: center;
            border-bottom: 1px solid #eee;

            .hot-topic-refresh {
                display: flex;
                margin-left: auto;
                font-size: 12px;
                color: #b3b3b3;
                cursor: pointer;

                &:hover {
                    color: #fa5c7c;
                }

                .refresh-ico {
                    margin-right: 5px;
                    font-size: 17px;
                }
            }
        }

        .hot-topic-body {
            padding: 10px 20px;

            ul {
                li {
                    margin-bottom: 10px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    &:hover{
                        a{
                            color:$color;

                        }
                    }
                  
                }
            }
        }
    }
}