@import "./common/variable";
@import "base";

.main-c {
    .publish-area {
        margin-bottom: 10px;
        padding: 38px 20px 12px;
        background-color: #fff;

        .publish-inpt {
            width: 100%;
            height: 100px;
            padding: 8px;
            margin-bottom: 6px;
            resize: none;
            outline: none;

            &:focus {
                border-color: $base-color;
            }
        }

        .publish-operate {
            display: flex;

            .publish-iconlist {
                display: flex;
                flex: 1;
                align-items: center;

                .publish-icon {
                    flex: 1;
                    height: 20px;
                    padding-left: 28px;
                    background: url(#{$imgpath}/img.png) no-repeat;
                    cursor: pointer;

                    &:hover {
                        color: #fa5c7c;
                    }
                }

                .publish-icon-emotion {
                    background-position: 0 -20px;
                }

                .publish-icon-pic {
                    background-position: 0 -60px;
                }

                .publish-icon-video {
                    background-position: 0 -120px;
                }

                .publish-icon-topic {
                    background-position: 0 -80px;
                }

                .publish-icon-quest {
                    background-position: 0 0px;
                }

                .publish-icon-course {
                    background-position: 0 -100px;
                }
            }

            .publish-send {
                display: flex;

                .publish-btn {
                    padding: 11px 36px;
                    font-weight: bold;

                    &:hover {
                        background-color: darken($base-color, 1%);
                    }
                }
            }
        }
    }

    .published {
        line-height: 1;
        .c-nav {
            margin-bottom: 10px;
            .nav-items {
                display: flex;
                padding: 12px 20px;
                background-color: #fff;
            }

            .nav-item {
                flex: 1;
                font-size: 12px;
                cursor: pointer;
            }

            .nav-item.nav-active {
                font-weight: bold;
            }

            .latest-news {
                display: none;
                text-align: center;
                padding: 10px 0px;
                background-color: #f9b8b8;

                .c-btn {
                    font-size: 12px;
                    color: #fa5c7c;
                    cursor: pointer;
                }
            }
        }

        .topic-list-wrap {
            .topic-list {
                line-height: 1;
                margin-bottom: 10px;
                background-color: #fff;

                .msg-title {
                    display: flex;
                    align-items: center;
                    padding: 12px 20px;
                    border-bottom: 1px solid #ddd;

                    em {
                        display: inline-block;
                        width: 13px;
                        height: 13px;
                        margin-right: 8px;
                        background: url(#{$imgpath}/img.png) no-repeat;
                        background-size: cover;
                    }
                }

                .msg-body {
                    padding: 10px 20px;

                    .msg-head {
                        float: left;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        margin-right: 10px;
                        overflow: hidden;

                        img {
                            display: block;
                        }
                    }

                    .msg-rt {
                        overflow: hidden;

                        .msg-simple {
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            .c-username {
                                margin-right: 10px;
                                font-size: 16px;
                                font-weight: bold;
                            }

                            .c-datetime {
                                font-size: 12px;
                                color: #aaa;
                            }
                        }

                        .msg-occupation {
                            margin-bottom: 15px;
                            font-size: 12px;
                            color: #788cff;
                        }

                        .msg-cc {
                            line-height: 1.5;
                            .msg-cc-imgs{
                                margin-top: 5px;
                                width:440px;
                                .msg-cc-item{
                                    float: left;
                                    width:110px;
                                    height:110px;
                                    margin:0 10px 10px 0;
                                    background-color: #ddd;
                                    overflow: hidden;
                                    img{
                                        display: block;
                                        width:100%;
                                    }
                                }
                                
                            }
                            
                        }
                    }
                }

                .msg-footer {
                    position: relative;
                    display: flex;
                    height: 38px;
                    border-top: 1px solid #ddd;

                    .msg-item {
                        display: flex;
                        flex: 1;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        border-right: 1px solid #ddd;
                        color: #b3b3b3;
                        cursor: pointer;

                        &:hover {
                            color: $color;
                        }

                        &:last-child {
                            border-right: none;
                        }

                        .msg-ico {
                            margin-right: 5px;
                        }
                    }
                }
            }

            .comment-wrap {
                position: relative;
                padding: 15px 20px 0;
                margin-bottom: 10px;
                margin-top: -10px;
                background-color: #f2f2f2;
                &:before {
                    content: '';
                    position: absolute;
                    top: -7px;
                    left: 400px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 8px solid #eee;
                }

                .comment-head {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        display: block;
                        width: 100%;
                    }
                }

                .comment-operate {
                    display: flex;
                    border-bottom: 1px solid #ddd;
                    padding-bottom: 10px;

                    .comment-rt {
                        flex: 1;
                        margin-left: 10px;

                        .comment-ipt-area {
                            margin-bottom: 7px;

                            .comment-ipt {
                                width: 100%;
                                height: 30px;
                                padding: 0 5px;
                                outline: none;

                                &:focus {
                                    border: 1px solid red;
                                }
                            }
                        }

                        .comment-btm {
                            display: flex;
                            align-items: center;

                            .comment-options {
                                height: 20px;

                                .comment-ico {
                                    display: inline-block;
                                    width: 20px;
                                    height: 20px;
                                    background: url(#{$imgpath}/img.png) no-repeat;
                                    cursor: pointer;
                                }

                                .icon-comment-expression {
                                    margin-right: 10px;
                                    background-position: 0 -20px;
                                }

                                .icon-comment-file {
                                    background-position: 0 -60px;
                                }
                            }

                            .comment-send {
                                width: 84px;
                                padding: 6px 12px;
                                margin-left: auto;
                            }
                        }
                    }
                }

                .reply-operate {
                    display: flex;
                    flex-direction: column;
                    padding: 14px 20px;
                    margin-left: 40px;
                    margin-bottom: 10px;
                    background-color: #fff;
                    border-radius: 6px;

                    .comment-ipt-area {
                        width: 100%;
                        margin-bottom: 7px;

                        .comment-ipt {
                            width: 100%;
                            height: 30px;
                            padding: 0 5px;
                            outline: none;

                            &:focus {
                                border: 1px solid red;
                            }
                        }
                    }

                    .comment-btm {
                        display: flex;
                        align-items: center;

                        .comment-options {
                            height: 20px;

                            .comment-ico {
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                background: url(#{$imgpath}/img.png) no-repeat;
                                cursor: pointer;
                            }

                            .icon-comment-expression {
                                margin-right: 10px;
                                background-position: 0 -20px;
                            }

                            .icon-comment-file {
                                background-position: 0 -60px;
                            }
                        }

                        .comment-send {
                            width: 84px;
                            padding: 6px 12px;
                            margin-left: auto;
                        }
                    }
                }

                .comment-list {
                    padding-bottom: 10px;

                    .comment-item {
                        .comment-self {
                            display: flex;
                            line-height: 1;
                            padding: 15px 0px;

                            .comment-head {
                                margin-right: 10px;
                            }
                        }

                        .comment-detail, reply- {
                            flex: 1;

                            .comment-intro {
                                margin-bottom: 5px;

                                .comment-username {
                                    color: #fa5c7c;
                                }

                                .comment-txt {
                                    margin-left: 4px;
                                }
                            }

                            .comment-datetime {
                                display: flex;
                                font-size: 12px;
                                color: #b3b3b3;

                                .comment-opt {
                                    display: flex;
                                    margin-left: auto;
                                    color: #333;

                                    .comment-opt-reply {
                                        padding-right: 10px;
                                        margin-right: 10px;
                                        border-right: 1px solid #ddd;
                                        cursor: pointer;
                                    }

                                    .comment-opt-praise {
                                        cursor: pointer;

                                        .icon-praise {
                                            margin-right: 3px;
                                        }
                                    }
                                }
                            }
                        }

                        .reply-list {
                            padding: 0 20px;
                            margin-left: 40px;
                            background-color: #e9e9e9;

                            .reply-item {
                                padding: 10px 0px;
                                border-bottom: 1px solid #ddd;

                                &:last-child {
                                    border-bottom: none;
                                }

                                .reply-operate {
                                    margin-top: 10px;
                                    margin-left: 0px;
                                    margin-bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 正在加载
.comment-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: #f2f2f5;

    .comment-loading-icon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
        background-image: url(#{$imgpath}/loading.png);
        background-image: url(#{$imgpath}/loading.gif) \9;
        animation: rotateEffect 0.8s linear infinite;
    }
}

@keyframes rotateEffect {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
