<%
for(var i=0,len=list.length;i < len; i++){
    var item=list[i];
%>
<div class="topic-list" data-topicid="<%=item.topic_id%>">
    <div class="msg-title"><em></em> 提问</div>
    <div class="msg-body">
        <div class="msg-head">
            <img src="<%=item.userportrait%>" />
        </div>
        <div class="msg-rt">
            <div class="msg-simple">
                <div class="c-username"><%=item.username%></div>
                <div class="c-datetime"><%=item.datetime%></div>
            </div>
            <div class="msg-occupation"><%=item.useroccupation%></div>
            <div class="msg-cc">
                <%=item.comment_content%><br />
                <div class="msg-cc-imgs">
                    <div class="msg-cc-item">
                        <img
                            src="http://lib.v5cg.com:8083/florilegium/a3a670e5-6811-4358-a0a0-e5c8c5a479c0/a2c4554d-ecf4-4b74-be68-da5163b10ffb/0008d9c1-e3a8-428c-9bde-43e807d76463_origin.jpg" />
                    </div>
                    <div class="msg-cc-item">
                        <img
                            src="http://lib.v5cg.com:8083/florilegium/a3a670e5-6811-4358-a0a0-e5c8c5a479c0/a2c4554d-ecf4-4b74-be68-da5163b10ffb/0008d9c1-e3a8-428c-9bde-43e807d76463_origin.jpg" />
                    </div>
                    <div class="msg-cc-item">
                        <img
                            src="http://lib.v5cg.com:8083/florilegium/a3a670e5-6811-4358-a0a0-e5c8c5a479c0/a2c4554d-ecf4-4b74-be68-da5163b10ffb/0008d9c1-e3a8-428c-9bde-43e807d76463_origin.jpg" />
                    </div>
                    <div class="msg-cc-item">
                        <img
                            src="http://lib.v5cg.com:8083/florilegium/a3a670e5-6811-4358-a0a0-e5c8c5a479c0/a2c4554d-ecf4-4b74-be68-da5163b10ffb/0008d9c1-e3a8-428c-9bde-43e807d76463_origin.jpg" />
                    </div>
                    <div class="msg-cc-item">
                        <img
                            src="http://lib.v5cg.com:8083/florilegium/a3a670e5-6811-4358-a0a0-e5c8c5a479c0/a2c4554d-ecf4-4b74-be68-da5163b10ffb/0008d9c1-e3a8-428c-9bde-43e807d76463_origin.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="msg-footer">
        <span class="msg-item msg-collection">
            <i class="msg-ico icon-star-o"></i>收藏</span>
        <span class="msg-item msg-forward">
            <i class="msg-ico icon-external-link"></i>转发</span>
        <span class="msg-item msg-comment">
            <i class="msg-ico icon-comment"></i><%=item.comment_amount%></span>
        <span class="msg-item msg-thumb">
            <i class="msg-ico icon-praise"></i><%=item.thumb_amount%></span>
    </div>
</div>

<%}%>