<div class="slider-bar" id="slider-bar">
    <div class="slider-bar-row slider-bar-help">
        <div class="slider-bar-inner">
            <i class="slider-bar-icon"></i>
            <p class="slider-bar-text">帮助</p>
        </div>
        <div class="slider-bar-dropmenu">
            <div class="slider-bar-tip">
                <div class="slider-bar-row">
                    <a class="slider-bar-btn1" href="http://tk.v5cg.com/help/80.html" target="_blank">账号问题</a>
                </div>
                <div class="slider-bar-row">
                    <a class="slider-bar-btn1" href="http://tk.v5cg.com/help/91.html" target="_blank">我的钱</a>
                </div>
                <div class="slider-bar-row">
                    <a class="slider-bar-btn1" href="http://tk.v5cg.com/help/76.html" target="_blank">其它帮助</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-bar-row slider-bar-customerservice">
        <div class="slider-bar-inner">
            <i class="slider-bar-icon"></i>
            <p class="slider-bar-text">客服</p>
        </div>
        <div class="slider-bar-dropmenu">
            <div class="slider-bar-tip">
                <div class="slider-bar-row">
                    <a class="slider-bar-btn2" href="http://q.url.cn/AByaKS?_type=wpa&qidian=true" target="_blank">
                        <img src="/assets/images/slider/qq.png" />在线客服
                    </a>
                </div>
                <div class="slider-bar-row slider-bar-phone">
                    <img src="/assets/images/slider/phone-active.png" />0755-2348-4041
                </div>
                <div class="slider-bar-row">周一至周五：9:00-19:00</div>
            </div>
        </div>
    </div>
    <div class="slider-bar-row slider-bar-recharge">
        <a href="https://passport.skycreative.cn/member/recharge" target="_blank">
            <div class="slider-bar-inner">
                <i class="slider-bar-icon"></i>
                <p class="slider-bar-text">充值</p>
            </div>
        </a>
    </div>
    <div class="slider-bar-row slider-bar-coupon">
        <a href="http://render.v5cg.com/Render/TaskList" target="_blank">
            <div class="slider-bar-inner">
                <i class="slider-bar-icon"></i>
                <p class="slider-bar-text">领券</p>
            </div>
        </a>
    </div>
    <!-- <div class="slider-bar-row slider-bar-communicate">
        <div class="slider-bar-inner">
            <i class="slider-bar-icon"></i>
            <p class="slider-bar-text">交流群</p>
        </div>
        <div class="slider-bar-dropmenu">
            <div class="slider-bar-tip">
                <a class="slider-bar-row" href="//shang.qq.com/wpa/qunwpa?idkey=6a53e4f607f8ab662bcaad71df39765feaa9bc8ff038aebd069175aea53738bb" target="_blank">
                    <div class="slider-bar-btn1"><i class="slider-communicate-icon"></i>CG工具箱用户群1</div>
                </a>
                <a class="slider-bar-row" href="//shang.qq.com/wpa/qunwpa?idkey=ebeb1469f9d21cebf6b60fa4e72f067d779f67476db3c88616e7f5d5cfb4a629" target="_blank">
                    <div class="slider-bar-btn1"><i class="slider-communicate-icon"></i>CG工具箱用户群2</div>
                </a>
                <a class="slider-bar-row" href="//shang.qq.com/wpa/qunwpa?idkey=27640f03678e9106607b14f1370bb408f2bd347f6c9a512c6510c0893a24f50f" target="_blank">
                    <div class="slider-bar-btn1"><i class="slider-communicate-icon"></i>CG工具箱用户群3</div>
                </a>
                <a class="slider-bar-row" href="//shang.qq.com/wpa/qunwpa?idkey=8f59b32abde87a54132070df354888863eca9e7375a8b8c53bee65fa399de21d" target="_blank">
                    <div class="slider-bar-btn1"><i class="slider-communicate-icon"></i>CG工具箱用户群4</div>
                </a>
            </div>
        </div>
    </div> -->
    <div class="slider-bar-row slider-bar-top" id="go-top">
        <div class="slider-bar-inner">
            <i class="slider-bar-icon"></i>
            <p class="slider-bar-text">顶部</p>
        </div>
    </div>
</div>